<!-- Registration Page -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<title>Register Page</title>
	<link rel='icon' href='../resources/img/favicon.ico' type='image/x-icon' />
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
		integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<link href="../resources/css/my_style.css" rel="stylesheet">
</head>

<body>

	<img src="../resources/img/beproudcapaabanner.jpg" class="img-fluid" alt="Registration Page Banner for CU Football">
	<br>
	<br>
	<div class="container">

		<form action="home.html">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="inputName">Name</label>
					<input type="text" class="form-control" id="inputName" placeholder="Name">
				</div>
				<div class="form-group col-md-6">
					<label for="inputEmail4">Email</label>
					<input type="email" class="form-control" id="inputEmail4" placeholder="Email">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword4">Password</label>
					<input type="password" class="form-control" id="inputPassword4" placeholder="Password">
				</div>
				<div class="form-group col-md-6">
					<label for="inputPassword42">Confirm Password</label>
					<input type="password" class="form-control" id="inputPassword42" placeholder="Password">
				</div>
			</div>
			<div class="form-check col-md-6">
				<input class="form-check-input" type="radio" name="isStudent" id="isStudent1" value="option1" checked>
				<label class="form-check-label" for="isStudent1">
					CU Boulder Student
				</label>
			</div>
			<div class="form-check">
				<input class="form-check-input" type="radio" name="isAlumni" id="isAlumni1" value="option2">
				<label class="form-check-label" for="isAlumni1">
					CU Boulder Alumni
				</label>
			</div>
			<div class="form-check col-md-6">
				<input class="form-check-input" type="radio" name="Grad/Undergrad" id="Grad/Undergrad1" value="option2">
				<label class="form-check-label" for="Grad/Undergrad1">
					Undergraduate/Graduate
				</label>
			</div>
			<div class="form-row">
				
				<div class="form-group col-md-6">
					<label for="inputYear">Undergraduate</label>
					<select id="inputYear" class="form-control">
						<option selected>Choose...</option>
						<option>Freshman</option>
						<option>Sophomore</option>
						<option>Junior</option>
						<option>Senior</option>
					</select>
				</div>
				<div class="form-group col-md-6">
					<label for="inputYear">Graduate</label>
					<select id="inputYear" class="form-control">
						<option selected>Choose...</option>
						<option>MA</option>
						<option>PhD</option>
						<option>MBA</option>
					</select>
				</div>
			</div>
			<input type="submit" value="submit" class="btn btn-primary btn-block">
		</form>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
		integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
		integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
		crossorigin="anonymous"></script>
</body>

</html>